:root {
    --main-color: #12B886;
    --grey-100:  #212529;
    --grey-50: #868E96;
    --grey-0: #F1F3F5;
    --font-poppins: 'Poppins', sans-serif;
    --title-1: 500 16px var(--font-poppins);
    --detail: 400 12px var(--font-poppins);
}

body {
    font: 400 14px var(--font-poppins);
}

.logo {
    padding: 10px;
    box-shadow: 0px 15px 10px #0000000F;
    text-align: center;
    font: 600 16px var(--font-poppins);
}